<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.3.1" targetFramework="net45" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net471" />
  <package id="xmlrpcnet" version="3.0.0.266" targetFramework="net45" />
  <package id="xmlrpcnet-server" version="3.0.0.266" targetFramework="net45" />
</packages>